# Data
data/raw/
data/enriched/
data/external/

# Credentials
.env
*.tfvars
!terraform.tfvars.example

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Power BI
powerbi/*.pbix

# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup

# Jupyter
.ipynb_checkpoints/